<br />
<div class="booyah-box col-10 offset-1">
	<h1 class="text-center"><%= @course.title %></h1>
	<%= image_tag @course.image, class: 'img-fluid center' %>
	<br /><br />
	<div class="row">
		<div class="col-sm-3 col-12">
			<span class="badge badge-default">
				<%= number_to_currency @course.cost %>
			</span>

			<% if current_user && current_user == @course.user %>
				<br />
				<br />
				<%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
			<% end %>
		</div>

		<div class="col-sm-9 col-12">
			<%= @course.description %>
		</div>
	</div>
	<br />
	<div class="col-12">
		<% @course.sections.each do |section| %>
			<hr />
			<div class="section">
				<h3>
					<%= section.title %>
				</h3>
				<div class="row card-deck">
					<% section.lessons.each do |lesson| %>
						<div class="col-12 col-sm-6 mt-4">
							<div class="card card-body lesson text-center h-100">
								<%= link_to lesson_path(lesson) do %>
									<h4><%= lesson.title %></h4>
									<%= lesson.subtitle %>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
				<br class="clear" />
			</div>
		<% end %>
	</div>

</div>
